$fontMain: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;

$backgroundPath: '../img/m-h-day.jpg';

$headerColor: #2c2f3c;
$buttonColor: #699900;
$headerUnderline: #14a0c7;
$cartBackground: #21232e;
$footerBackground: $cartBackground;
$fontFooterColor: #c0c3ce;
$fontCartColor: $fontFooterColor;
$backgroundBody: #ffffff;

$gradient: (from:#689803, to:#2c5adb)