$fontMain: 'Source Sans Pro', sans-serif;
$font2: 'Fresca', sans-serif;

$backgroundPath: '../img/m-h-night.jpg';

$headerColor: #ffffff;
$buttonColor: #e3ac00;
$headerUnderline: #ff4e33;
$cartBackground: #3b3f50;
$footerBackground: $cartBackground;
$fontFooterColor: #c0c3ce;
$fontCartColor: $fontFooterColor;
$backgroundBody: #21232e;

$gradient: (from:#e1a803, to:#912b53)